<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DoAnUDTM.Properties.Settings.EcommerceDBConnectionString"
            connectionString="Data Source=DESKTOP-HRMC28G;Initial Catalog=EcommerceDB;Persist Security Info=True;User ID=sa;Password=123;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DoAnUDTM.Properties.Settings.DBEcommerceConnectionString"
            connectionString="Data Source=DESKTOP-HRMC28G;Initial Catalog=DBEcommerce;Persist Security Info=True;User ID=sa;Password=123;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>